



.profile
{
    margin-left: 2%;
    margin-top: 1%;
    width: 97%;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: small;
}

.profile-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 530px;
    max-height: 92vh;
}

.profile-pfp
{
    width: 50px;
    height: 50px;
}
.profile-50-split
{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}
.profile-basic-info
{
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color:#f9f9f9;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    width:fit-content;
    height: auto;
     
}
.profile-user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 5%;
}
    
.profile-full-name
{
    border-radius: 1px solid black;
    width: 100%;
    margin: 0;
    font-size: xx-large;
}
.profile-user-name
{
    font-size: medium;
    font-weight: 400;
    color: rgb(29, 161, 242);
    margin: 0;
    margin-top: 10px;
    
}
.profile-contact-info
{
    font-size: medium;
    margin: 0;
    margin-top: 10px;
    font-weight: 300;
    color: #333;
    margin-left: 20px;
}
.profile-edit-button
{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(48, 255, 48, 0.644);
    width:fit-content;
    height: fit-content;
    padding: 5px 10px;
    margin: 0;
    margin-left: 50px;
    cursor: pointer;
}
.profile-bio
{
    margin-top: 20px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.349);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: medium;
}
.profile-bio-header {
    font-size: larger;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
}
.profile-reviews-wrapper
{
    margin-top: 20px;


    overflow: hidden;
    border-radius: 10px;
    height: 55vh;
    min-width: 530px;
    
}
.profile-reviews-scroller
{
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.349);
    background-color:#f9f9f9;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;

    
    
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
/* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
/* So the width will be 100% + 17px */
    
}

.profile .profile-reviews-scroller .review  {
    width: 90%;
    max-width: 800px;
    margin-left: -10px;
    margin-bottom: 20px;
    
}

.profile h2.small {
    font-size: xx-large;
}

.profile h4.small {
    margin: 0;
    margin-left: 20px;
    font-size: small;
    color: rgb(29, 161, 242);
    font-weight: 500;
}

.profile .review-names {
    margin-left: 20px;
}

.profile .review p {
    font-size: medium;
}

.profile .review .pfp-img.small {
    width: 50px;
    height: 50px;
}


.edit-profile {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.profile-editor {
    background-color: #f9f9f9;
    width: 40%;
    height: fit-content;
    left: 30%;
    top: 5%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.edit-profile .save-btn {
    background-color: rgb(78, 255, 78);
}

.edit-profile .cancel-btn {
    margin-left: 10px;
    background-color: grey
}

.edit-profile .text {
    margin-left: 10px;
    height: 50%;
    flex-grow: 1;
}

.edit-profile h1 {
    font-size: xx-large;
    font-weight: 500;
}

.edit-profile .buttons-box {
    justify-content: end;
}